.modalDelete {
  box-sizing: border-box;
  position: relative;
  width: 344px;
  height: 267px;
  padding: 40px 20px;
}

.closeButton {
  border: none;
  background-color: inherit;
  position: absolute;
  top: 20px;
  left: 293px;
}

.titleModalDelete {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  margin-bottom: 16px;
}

.paragraphModalDelete {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  margin-bottom: 28px;
}

.boxButton {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.button {
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  padding: 14px 126px;
  width: 304px;
  background-color: #2563eb;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  &:hover {
    background-color: #1d51c1;
  }
}

.buttonCancel {
  background-color: #f0eff4;
  color: rgba(50, 63, 71, 0.3);

  &:hover {
    color: #323f47;
    background-color: #e3e2e5;
  }
}

@media screen and (min-width: 768px) {
  .modalDelete {
    width: 516px;
    height: 244px;
    padding: 40px;
  }

  .closeButton {
    left: 468px;
  }

  .titleModalDelete {
    font-size: 28px;
    line-height: 1.14;

    margin-bottom: 24px;
  }

  .paragraphModalDelete {
    font-size: 18px;
    line-height: 1.33;

    margin-bottom: 24px;
  }

  .boxButton {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .button {
    padding: 18px 57px;
    width: 173px;

    font-size: 16px;
    line-height: 1.5;
  }

  .buttonCancel {
    background-color: #f0eff4;
    color: rgba(50, 63, 71, 0.3);

    &:hover {
      color: #323f47;
      background-color: #e3e2e5;
    }
  }
}

@media screen and (min-width: 1440px) {
}
