.boxCalendar {
  display: flex;
  flex-direction: column;
}

.titleCalendar {
  /* width: 343px; */
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  /* gap: 70px; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.titleMonth {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
  text-transform: lowercase;
}

.boxButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.buttonArrows {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.monthYear {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.daysOfTheWeek {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  margin-bottom: 10px;
}

.dayWeek {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.calendar {
  padding: 4px;
  font-family: "Courier Prime", sans-serif;
  font-weight: 400;
  font-size: 14px;
  /* background-color: aquamarine; */
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.emptyRing {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
}

.buttonCalend {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #fff;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  &:hover {
    background-color: #4bb3eb;
    color: orangered;
  }

  &:disabled {
    background-color: #cacaca89;
    color: #8e8e8f;
    cursor: default;
  }
}

.currentDay {
  background-color: #00a6ff;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .titleCalendar {
    padding: 0 30px;
  }

  .titleMonth {
    font-size: 22px;
    line-height: 1.14;
  }

  .boxButton {
    width: 210px;
  }

  .buttonArrows {
    width: 40px;
    height: 40px;
  }

  .monthYear {
    font-size: 16px;
    line-height: 1.5;
  }

  .calendar {
    padding: 0px;
    margin: 0 auto;
    width: 580px;
    height: 397px;
    gap: 43px;
  }

  .daysOfTheWeek {
    padding: 0 50px 0 46px;
    margin-bottom: 25px;
  }

  .dayWeek {
    font-size: 14px;
    line-height: 1.5;
  }

  .emptyRing {
    width: 45px;
    height: 45px;
  }

  .buttonCalend {
    width: 45px;
    height: 45px;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .daysOfTheWeek {
    padding: 0 34px 0 28px;
  }
}
