.modal {
  position: relative;
  box-sizing: border-box;
  padding: 40px 20px;
  height: 100vh;
  /* border-radius: 15px; */
  width: 343px;
  overflow-y: auto;
  /* overflow-y: hidden; */

  &::-webkit-scrollbar {
    width: 0;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  left: 293px;
  border: none;
  background-color: inherit;
}

.titleSetting {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;

  margin-bottom: 40px;
}

.headlines {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  /* text-align: center; */
  color: #323f47;
}

.footnote {
  color: #00a6ff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* --------- RADIO -------------- */
.fullscreenContainer {
  display: flex;
  align-items: center;
  gap: 35px;
  /* justify-content: space-between; */
  /* width: 100%; */
  /* min-height: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  /* padding: 20px 0; */
  box-sizing: border-box;
}

.radioGroupContainer {
  /* background-color: rgba(26, 27, 40, 0.7); */
  /* padding: 20px 35px; */
  /* border-radius: 20px; */
  /* border: 1px solid rgba(255, 255, 255, 0.055); */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* width: 90%; */
  /* max-width: 280px; */
  transition: all 0.3s ease;
}

.radioLabel {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  margin: 20px 0;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.radioInput {
  display: none;
}

.radioCustom {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #5c5e79;
  border-radius: 50%;
  /* margin-right: 18px; */
  position: relative;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.radioCustom::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #8a8b9f;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radioCustom::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #00a6ff;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.4s ease;
}

.radioText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  transition: color 0.3s ease;
}

.radioLabel:hover .radioInput:not(:checked) + .radio-custom {
  transform: scale(1.1);
  border-color: #8a8daf;
}

.radioLabel:hover .radioText {
  font-weight: 700;
}

.radioInput:checked + .radioCustom {
  border-color: #00a6ff;
  transform: scale(0.9);
}

.radioInput:checked + .radioCustom::before {
  transform: scale(1);
  background-color: #00a6ff;
}

.radioInput:checked + .radioCustom::after {
  opacity: 1;
  transform: scale(1.3);
  animation: orbit 2.5s infinite linear;
  /* box-shadow: 0 0 30px #00a6ff, 0 0 80px rgba(0, 166, 255, 0.2); */
}

.radioInput:checked ~ .radio-text {
  color: #ffffff;
  font-weight: 700;
}

/* .radioLabel:nth-child(2) .radio-input:checked + .radioCustom {
  border-color: #e900ff;
  box-shadow: none;
}
.radioLabel:nth-child(2) .radio-input:checked + .radioCustom::before {
  background-color: #e900ff;
}
.radioLabel:nth-child(2) .radio-input:checked + .radioCustom::after {
  border-top-color: #e900ff;
  box-shadow: 0 0 30px #e900ff, 0 0 80px rgba(233, 0, 255, 0.2);
}
.radioLabel:nth-child(2) .radio-input:checked ~ .radio-text {
  color: #ffffff;
} */

/* .radioLabel:nth-child(3) .radio-input:checked + .radioCustom {
  border-color: #00ffc2;
  box-shadow: none;
}
.radioLabel:nth-child(3) .radio-input:checked + .radioCustom::before {
  background-color: #00ffc2;
}
.radio-label:nth-child(3) .radio-input:checked + .radio-custom::after {
  border-top-color: #00ffc2;
  box-shadow: 0 0 30px #00ffc2, 0 0 80px rgba(0, 255, 194, 0.2);
}
.radioLabel:nth-child(3) .radio-input:checked ~ .radio-text {
  color: #ffffff;
} */

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 400px) {
  .radioGroupContainer {
    /* padding: 15px 25px; */
  }

  .radioLabel {
    margin: 25px 0;
  }

  .radioText {
    font-size: 1rem;
  }
}

/* ----------------------- */
.boxUserData {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.boxInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px;
  width: 303px;
  height: 46px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    color: #6e6e6e;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.boxSelect {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.select {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px;
  width: 240px;
  height: 46px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputAge {
  width: 55px;
}

.select option {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.titleDescription {
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.7);
}

.boxLevelDescription {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  background-color: #f0eff4;
}

.subparagraphs {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.7);
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.buttonSubmit {
  margin-top: 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  padding: 14px 40px;
  /* width: 116px; */
  height: 46px;
  background-color: #2563eb;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  &:hover {
    background-color: #1d51c1;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    width: 648px;
  }

  .closeButton {
    top: 40px;
    left: 580px;
  }

  .titleSetting {
    font-size: 28px;
    line-height: 1.14;
  }

  .headlines {
    font-size: 18px;
    line-height: 1.33;
  }

  .radioText {
    font-size: 16px;
    line-height: 1.5;
  }

  .boxUserData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
  }

  .input {
    padding: 16px;
    width: 568px;
    height: 56px;

    font-size: 16px;
    line-height: 1.5;

    &::placeholder {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .boxSelect {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .select {
    padding: 16px;
    width: 340px;
    height: 56px;

    font-size: 16px;
    line-height: 1.5;
  }

  .inputAge {
    width: 65px;
  }

  .titleDescription {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .boxLevelDescription {
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    height: 130px;
    overflow-y: scroll;
  }

  .subparagraphs {
    font-size: 16px;
    line-height: 1.5;
  }

  .paragraph {
    font-size: 16px;
    line-height: 1.28;
  }

  .buttonSubmit {
    padding: 16px 50px;
    height: 56px;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 920px;
  }

  .closeButton {
    left: 852px;
  }

  .input {
    width: 400px;
    height: 56px;
  }

  .boxSelect {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .select {
    box-sizing: border-box;
    border: 1px solid rgba(47, 47, 47, 0.15);
    border-radius: 15px;
    width: 320px;
    height: 56px;
  }

  .inputAge {
    width: 65px;
  }

  .titleDescription {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.5;
    width: 400px;
  }

  .boxLevelDescription {
    width: 400px;
    height: 130px;
  }
}
