.boxNameAndSettings {
  display: flex;
  flex-direction: column;
}

.titleName {
  margin-top: 24px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}

.name {
  font-weight: 700;
}

.boxButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttonNavigate {
  border: none;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px;
  width: 120px;
  height: 40px;
  background-color: #2563eb;
  display: flex;
  justify-content: center;
  gap: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;

  &:hover {
    background-color: #1d51c1;
  }
}

.boxMonthAdd {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.addButton {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  border: none;
  background-color: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: left;
  color: #323f47;
  /* width: 120px; */
}

.plusAdd {
  color: #ffffff;
  border-radius: 50px;
  padding: 5px 7px;
  box-sizing: border-box;
  background-color: #2563eb;

  &:hover {
    background-color: #1d51c1;
  }
}

.iconPluss {
  width: 10px;
  height: 10px;
}

.listOfMeasurements {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
  margin: 24px 0 10px 0;
  padding-bottom: 24px;
  scrollbar-color: #2563eb #f0eff4;
  /* scrollbar-width: thin; */
  /* overflow-x: hidden; */
}

.titleStub {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;

  margin: 40px 0;
}

.designations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px 0;
}

.oneBoDesignations {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* .boxInstruction {
  position: absolute;
  background-color: #fff;
  width: 200px;

  overflow-y: scroll;
  z-index: 1000;
  padding: 10px;
  border-radius: 15px;
  top: 50px;

  display: none;

  &::-webkit-scrollbar {
    width: 0;
  }
} */

/* .oneBoDesignations:hover .boxInstruction {
  display: block;
} */

@media screen and (min-width: 768px) {
  .boxNameAndSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .addButton {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    font-size: 18px;
    line-height: 1.3;
  }

  .plusAdd {
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: #2563eb;

    &:hover {
      background-color: #1d51c1;
    }
  }

  .iconPluss {
    width: 16px;
    height: 14px;
  }

  .designations {
    flex-wrap: nowrap;
    gap: 25px;
    padding: 20px 0 40px 0;
  }

  .titleStub {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323f47;

    margin: 40px 0;
  }
}

@media screen and (min-width: 1440px) {
}
