.sectionAllDimensions {
}

.allDimensions {
}

.boxLink {
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.downloadButton {
  border: none;
  border-radius: 30px;
  padding: 11px 20px;
  /* width: 92px; */
  background-color: #2563eb;
  height: 43px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.4;
  color: #fff;

  &:hover {
    background-color: #1d51c1;
  }
}

.loaderAndTable {
  position: relative;
}

.paragraph {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

.link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border-radius: 30px;
  padding: 14px;
  background-color: #2563eb;
  width: 200px;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: center;
  color: #7dd2f0;

  &:hover {
    background-color: #1d51c1;
  }
}

.boxTable {
  height: 560px;
  overflow-y: auto;
  scrollbar-color: #2563eb #f0eff4;
}

.table {
  margin: 0 auto;
}

.titleLine {
  background-color: #4e8598;
  padding: 5px 0;
  border: 1px solid #000;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #e9e9e9;
}

.tableRows {
  background-color: #f6f6f6;
  padding: 5px 0;
  border: 1px solid #000;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.widthDate {
  width: 75px;
}

.widthTime {
  width: 45px;
}

.widthLevel {
  width: 55px;
}

.widthMeasurementTime {
  width: 70px;
}

.widthNorm {
  width: 55px;
}

@media screen and (min-width: 768px) {
  .sectionAllDimensions {
  }

  .boxTable {
    height: 640px;
    overflow-y: auto;
    scrollbar-color: #2563eb #f0eff4;
  }

  .downloadButton {
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    /* width: 92px; */
    background-color: #2563eb;
    height: 53px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;

    &:hover {
      background-color: #1d51c1;
    }
  }

  .titleLine {
    padding: 10px 0;

    font-size: 18px;
    line-height: 1.25;
  }

  .tableRows {
    padding: 10px 0;

    font-size: 16px;
    line-height: 1.5;
  }

  .widthDate {
    width: 115px;
  }

  .widthTime {
    width: 85px;
  }

  .widthLevel {
    width: 95px;
  }

  .widthMeasurementTime {
    width: 110px;
  }

  .widthNorm {
    width: 95px;
  }
}

@media screen and (min-width: 1440px) {
  .sectionAllDimensions {
    height: 851px;
  }

  .boxTable {
    height: 760px;
  }
}
